/*********************************************************
 *       Project: 
 *   Description: 
 *       Created: 
 *       Version: 1.0.1
 * Support Email: 
----------------------*/

/******************** Google Fonts */
@import url(//fonts.googleapis.com/css?family=Merriweather:300italic,300|Lato:300,400,700);

/******************** General Style */

body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato';
	color: #333;
}

h1 {
	font-size: 50px;
	font-weight:400;
}

h2 {
	font-size: 24px;
	font-weight: 400;
	padding: 0 0 15px;
	border-bottom: 1px solid #E08800;
	text-transform: uppercase;
	margin: 25px 0 20px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	color: #666;
	line-height:150%;
} 

h4 {
	font-weight: bold;
	font-size: 18px;
	margin: 20px 0 7px;
	line-height:140%;
}

h5 {
}   

h6 {
}

p {
	font-size:16px;
	line-height: 150%;
	color: #666;
}

.bold {
    font-weight:bold;
}

.white {
    color: #fff;
}

.black {
    color: #333;
}

.center {
    text-align: center;
}

.gray-band {
	background:#f2f2f2;
	padding:60px 0;
}

img.circle {
	border-radius: 1000px;
	border: 10px solid #fff;
	box-shadow: 0 0 1px 1px #ccc;
}

.text-content {
	padding: 5% 0;
}

a {
	font-family: 'Lato';
	color:#E08800;
	text-decoration: none;
	font-weight:bold;
}

a:hover {
	opacity:0.75;
	color:#E08800;
	text-decoration: none;
}

a.button:hover, button.button:hover {
	opacity:0.75;
}

a.button, button.button {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	padding: 0 20px;
	border-radius: 999px;
	margin: 20px 0 0;
	border:0;
	font-family: 'Lato';
	text-decoration: none;
}

a.button.white, button.button.white {
	color: #184386;
	background: #fff;
}

a.button.blue, button.button.blue {
	color: #fff;
	background: #184388;
}

a.button.orange, button.button.orange {
	color: #fff;
	background: #E08800;
}

a.contact {
	float:right;
}

.slide a.button {
	background:#E08800;
	height:48px;
	line-height:48px;
	color:#fff;
	font-weight:400;
	font-size:22px;
	padding:0 30px;
	border-radius:999px;
	display:inline-block;
	text-decoration: none;
}

li.social > a > img {
	height: 32px;
}

.social:hover {
	opacity:0.75;
}


/******************** Navigation */

.navbar {
    margin-bottom: 0;
    border:0;
}

.navbar-header {
}

.navbar-default {
	height: 90px;
	/* background: -webkit-linear-gradient(#F5EFE3 0%, #fff 100%); */
	border-bottom: 3px solid #aaa;
	box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
    border-radius:0;
    position: relative;
	z-index: 1;
}

.navbar-brand {
    padding: 18px 0 0 0;
    margin:0;
}

a.navbar-brand img {
	width:240px;
}

.navbar-default .navbar-nav>li>a {
	color: #878787;
	font-size: 16px;
	font-weight: 300;
	padding: 45px 30px 20px 0;
}

.navbar-default .navbar-nav>li>a:hover {
	color:#000;
	opacity:1;
}

.navbar-nav > li.social > a {
	padding:0;
	margin:30px 0 0 7px;
}

a.social-header-google {
	height: 32px;
	width: 32px;
	background: url('../img/icon-google-orange.png');
	background: url('../img/icon-google-gray.png');
	display: inline-block;
	background-size: 32px;
	text-indent: -9999px;
	overflow: hidden;
}

a.social-header-google:hover {
	background: url('../img/icon-google-orange.png');
	background-size: 32px;
}

a.social-header-twitter {
	height: 32px;
	width: 32px;
	background: url('../img/icon-twitter-orange.png');
	background: url('../img/icon-twitter-gray.png');
	display: inline-block;
	background-size: 32px;
	text-indent: -9999px;
	overflow: hidden;
}

a.social-header-twitter:hover {
	background: url('../img/icon-twitter-orange.png');
	background-size: 32px;
}

a.social-header-linkedin {
	height: 32px;
	width: 32px;
	background: url('../img/icon-linkedin-orange.png');
	background: url('../img/icon-linkedin-gray.png');
	display: inline-block;
	background-size: 32px;
	text-indent: -9999px;
	overflow: hidden;
}

a.social-header-linkedin:hover {
	background: url('../img/icon-linkedin-orange.png');
	background-size: 32px;
}

a.social-header-facebook {
	height: 32px;
	width: 32px;
	background: url('../img/icon-facebook-orange.png');
	background: url('../img/icon-facebook-gray.png');
	display: inline-block;
	background-size: 32px;
	text-indent: -9999px;
	overflow: hidden;
}

a.social-header-facebook:hover {
	background: url('../img/icon-facebook-orange.png');
	background-size: 32px;
}


/******************** Homepage */

.slick-slide {
	height:400px !important;
}

.slide-1 {
	background-image: url('../img/slide-1.jpg');
}

.slide-2 {
	background-image: url('../img/slide-2.jpg');
}

.slide-3 {
	background-image: url('../img/slide-3.jpg');
}

.slide {
	padding: 40px 0;
	background-size: cover;
	max-height:450px;
}

.slide h3 {
	font-weight:300;
}

.slide a {
	margin: 40px 0 50px;
}

.slide p {
	color: #fff;
	font-size:14px;
	font-family: 'Lato';
}

.home-white-band {
	padding:70px 0;
	text-align:center;
}

.home-white-band img {
	height:100px;
	margin:40px 0 25px;
}

.home-white-band p {
	font-size: 14px;
	color: #999;
	margin:10px 0 20px;
	line-height:130%;
}

.home-white-band a {
	text-transform: uppercase;
}

.home-staffing-band {
	padding:30px 0;
}	

.home-staffing-band h2 {
	padding-top: 13%;
}

.home-gray-band {
	background-image: url('../img/bkg-footer.jpg');
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 130px 0;
}

.home-blue-band {
	background-image: url('../img/bkg-home-blue-band.jpg');
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 130px 0;
}

.home-prefooter {
	background:#333;
	padding: 50px 0;
	text-align: center;
}

/******************** Content */
#primary {
	min-height:400px;
	margin-bottom: 50px;
}

.subhero-our-approach {
	background: url('../img/subhero-our-approach.jpg');
}

.subhero-services {
	background: url('../img/subhero-services.jpg');
}

.subhero-talent {
	background: url('../img/subhero-talent.jpg');
}

.subhero-blog {
	background: url('../img/subhero-blog.jpg');
}

.subhero-contact {
	background: url('../img/subhero-contact.jpg');
}

.subhero {
	padding:50px 0;
	margin: 0 0 40px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;
}

.subhero h1 {
	color: #fff;
	margin:0;
	font-size:40px;
}

.subhero h3 {
	color: rgba(255,255,255,0.65);
	margin: 10px 0 0;
	padding: 0 0 0 30px;
	line-height: 135%;
}

.subhero a {
	margin: 5px 0 0;
}

.subhero h1:before {
	content: "– ";
	font-weight: 300;
	color: rgb(224, 136, 0);
}

form {
	background: #f5f5f5;
	margin: 25px 0px 0px;
	padding: 30px;
	border-radius:4px;
}

.form-control {
	display: block;
	width: 100%;
	height: 50px;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 50px;
	color: #555;
	background: #fff;
	border-radius: 4px;
	box-shadow: none;
	border: 1px solid #ccc;
	font-weight: 400;
	margin: 0;
	font-family: 'Lato';
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

textarea.form-control {
	padding: 0 12px;
}

ul.results {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
}

ul.results li {
	width: 18%;
	float: left;
	margin: 25px 1% 0;
	text-align: center;
	font-weight: bold;
	font-family: 'Lato';
	padding: 43px 0 0;
	background: url('../img/icon-check.png') top center no-repeat;
	background-size: 32px;
}

.services img {
	width:64px;
	margin-top:30px;
}

ul.fancy {
	margin: 20px 0;
}

ul.fancy li {
	color: rgb(224, 136, 0);
	font-family: 'Merriweather';
	font-style: italic;
	font-size: 18px;
	list-style-type: circle;
	line-height: 120%;
	margin: 10px 0;
}

.contact-icon {
	height:48px;
	opacity:0.6;
}


/******************** Blog */

div#secondary {
	background: #f2f2f2;
	padding: 25px;
	border-radius: 5px;
}

.widget {
	margin-bottom: 40px;
}

.widget ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 15px;
}

.widget ul li {
	margin: 0 0 5px;
}

h1.entry-title,
h1.entry-title a {
	font-weight: 300;
	color: #333;
	margin: 0 0 15px;
	font-size: 40px;
	text-decoration: none;
}

.entry-meta {
	margin: 0 0 20px;
}

h1.widget-title {
	font-size: 24px;
	font-weight: 400;
	padding: 0 0 15px;
	border-bottom: 1px solid #E08800;
	text-transform: uppercase;
	margin: 0 0 20px;
}

article {
	padding: 0 0 40px;
	margin: 0 0 40px;
	border-bottom: 1px dotted #ccc;
}

article img {
	max-width: 100%;
	height: auto;
}


/******************** Footer */

.footer {
	background: url('../img/bkg-footer-pattern.png');
	padding: 40px 0;
	min-height: 300px;
}

.footer img.logo {
	height:42px;
}

.footer img.social {
	height:32px;
}

.footer p.copyright {
	font-size:12px;
	color: rgba(255,255,255,0.5);
}

.footer p {
	margin-top:15px;
}

.footer a {
	color: #fff;
}

.footer a:hover {
	opacity:0.75;
}

.footer ul {
	list-style: none;
	margin: 25px 0 0 0;
	padding: 0;
	overflow: auto;
}

.footer ul li {
	float: left;
	font-size: 13px;
	padding: 0 10px 0 0;
}

.footer-cta a {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 20px;
	position: fixed;
	bottom: 0;
	right: 30px;
	width: 200px;
	padding: 15px;
	background: rgba(224, 136, 0, 0.8);
	text-align: center;
	transition: .4s ease;
	z-index: 500;
	font-weight: 700;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-shadow:0 0 2px rgba(0,0,0,0.5);
	text-decoration: none;
}

.footer-cta a span {
	font-weight: 300;
}

.footer-cta a:hover {
    background: #E08800;
    opacity:1;
    text-decoration:none !important;
    width:210px;
    margin-right:10px !important;
    right:20px;
    box-shadow:0 0 10px rgba(0,0,0,.5);
    text-shadow:0 0 3px rgba(0,0,0,0.75);
}

.footer-cta .footer-cta-top {
    font-weight:300;
    display:block;
    font-size:12px;
    letter-spacing:.05em;
    line-height:19px;
}

a.social-footer-google {
	height: 32px;
	width: 32px;
	background: url('../img/icon-google-orange.png');
	background: url('../img/icon-google-white.png');
	display: inline-block;
	background-size: 32px;
	text-indent: -9999px;
	overflow: hidden;
}

a.social-footer-google:hover {
	background: url('../img/icon-google-orange.png');
	background-size: 32px;
}

a.social-footer-twitter {
	height: 32px;
	width: 32px;
	background: url('../img/icon-twitter-orange.png');
	background: url('../img/icon-twitter-white.png');
	display: inline-block;
	background-size: 32px;
	text-indent: -9999px;
	overflow: hidden;
}

a.social-footer-twitter:hover {
	background: url('../img/icon-twitter-orange.png');
	background-size: 32px;
}

a.social-footer-linkedin {
	height: 32px;
	width: 32px;
	background: url('../img/icon-linkedin-orange.png');
	background: url('../img/icon-linkedin-white.png');
	display: inline-block;
	background-size: 32px;
	text-indent: -9999px;
	overflow: hidden;
}

a.social-footer-linkedin:hover {
	background: url('../img/icon-linkedin-orange.png');
	background-size: 32px;
}

a.social-footer-facebook {
	height: 32px;
	width: 32px;
	background: url('../img/icon-facebook-orange.png');
	background: url('../img/icon-facebook-white.png');
	display: inline-block;
	background-size: 32px;
	text-indent: -9999px;
	overflow: hidden;
}

a.social-footer-facebook:hover {
	background: url('../img/icon-facebook-orange.png');
	background-size: 32px;
}


/******************** Media Queries */

@media (max-width: 1199px) {
    
}

@media (max-width: 991px) {
	
	.navbar-brand {
		padding: 24px 0 0 0;
		margin: 0;
	}

	a.navbar-brand img {
		width:200px;
	}
	
	li.social {
		display:none;
	}  
	
	.home-staffing-band h2 {
		padding: 0;
	}
	
	.slide {
		text-align:center;
	}
	
	.slide h1 {
		font-size:45px;
	}
	
	.slick-slide {
		height:350px !important;
	}
}

@media (max-width: 767px) {

	.navbar-brand {
		padding: 9px 0 0 10px;
		margin: 0;
	}

	a.navbar-brand img {
		width:160px;
	}

	.navbar-default {
		height: 55px;
	}
	
	.navbar-collapse {
		position: relative;
		z-index: 999;
		box-shadow: 0 20px 20px 0 rgba(0,0,0,0.5);
	}
	
	.navbar-toggle {
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 8px;
	}
	
	.navbar-nav {
		background: #fff;
		margin: 0 -15px;
	}
	
	.home-staffing-band p {
		padding: 0 0 25px;
	}
	
	.footer .container > div {
		margin-bottom: 30px;
	}
	
	.footer ul li {
		float:none;
	}
	
	.navbar-default .navbar-nav>li>a {
		color: #878787;
		font-size: 16px;
		font-weight: 300;
		padding: 10px;
		border-bottom:1px solid #eee;
	} 
	.slide h1 {
		font-size:35px;
	}
	.slide h3 {
		font-size: 20px;
	}
	
	.slick-prev, .slick-next {
		display:none !important;
	}
	
	a.contact {
		display:none !important;
	}
	
	ul.results li {
	width: 80%;
	margin: 40px 10% 0;
	}
}

@media (max-width: 480px) {
	.slide p {
		display:none;
	}
	
	.slide {
		padding: 20px 0;
	}
	
}
